<h1 mat-dialog-title>Fehler</h1>
<mat-dialog-content class="mat-typography">
        {{errorMesssage}}
</mat-dialog-content>
<mat-dialog-actions class="mt-3 mb-2 alignmentButton">
        <button class="btn btn-warning ml-3" mat-dialog-close>schließen</button>
</mat-dialog-actions>