<header>
  <h1>Herzlich Willkommen auf der Administrationsseite</h1>
</header>
<nav class="sidebar">
  <a (click)="clickEvent(1)" [ngClass]="linkPreise" [routerLink]="'/preise'"><i class="fa fa-fw fa-money"></i>
    Preise</a>
  <a (click)="clickEvent(2)" [ngClass]="linkKontakte" [routerLink]="'/kontaktseite'"><span><i
        class="fa fa-fw fa-envelope"></i> Kontaktanfragen</span></a>
  <a (click)="clickEvent(3)" [ngClass]="linkUnternehmen" [routerLink]="'/unternehmenseite'"><i
      class="fa fa-fw fa-user"></i> Unternehmen</a>
</nav>
<div class="content">

  <router-outlet></router-outlet>
</div>