

.manuel-container{
    margin: 40px;
}

.colorOfSite{
    background-color:  #14a0a5;
    color: white;
}

body {
  font-family: "Lato", sans-serif;
  position: relative;
}

header{
  background-color: #0e0d0d;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  color: white;
  height: 150px;
  text-align: center;
  padding-top: 75px;
}

header h1 {
  font-size: 35px;
}

.sidebar {
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  font-size: 20px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #14a0a5;
  color:white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  width: auto;
  margin-left: 220px;
  margin-top: 150px;
  padding: 15px;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
