<h1 mat-dialog-title>Daten anzeigen</h1>
<mat-dialog-content class="mat-typography">
     <div *ngFor="let key of Object.keys(datentyp)">
          <div *ngIf="key !=='ID' && key !=='nachricht'&& key !=='plz'&& key !=='position'">
               <label>{{key.charAt(0).toUpperCase() + key.slice(1)}}</label>
               <input type="text" [value]="anzeigedaten[key]" (change)="changeInputValue($event)"
                    class="form-control mb-3" name="{{key}}" required>
          </div>
          <div *ngIf="key ==='nachricht'">
               <label>{{key.charAt(0).toUpperCase() + key.slice(1)}}</label>
               <textarea rows="4" type="text" [value]="anzeigedaten[key]" (change)="changeInputValue($event)"
                    class="form-control mb-3" name="{{key}}" required></textarea>
          </div>
          <div *ngIf="key ==='plz'">
               <label>{{key.charAt(0).toUpperCase() + key.slice(1)}}</label>
               <input type="number" [value]="anzeigedaten[key]" (change)="changeInputValue($event)"
                    class="form-control mb-3" name="{{key}}" required>
          </div>
     </div>
</mat-dialog-content>
<mat-dialog-actions class="mt-3 mb-2 alignmentButton">
     <button *ngIf="bearbeitungstatus==='bearbeiten'" class="btn btn-success" (click)="onClickBearbeitenSpeichern()"
          cdkFocusInitial>speichern</button>
     <button *ngIf="bearbeitungstatus==='hinzufuegen'" class="btn btn-warning" (click)="onClickhinzufuegen()"
          cdkFocusInitial>Hinzufügen</button>
     <button class="btn btn-warning ml-3" mat-dialog-close>schließen</button>
</mat-dialog-actions>