<div class="mat-elevation-z8 ">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let column of columns;" matColumnDef="{{column.columnDef}}">
      <div *ngIf="column.columnDef !='ID'">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</th>
        <td mat-cell *matCellDef="let row" class=""> {{ column.cell(row) }}
          <div *ngIf="column.columnDef==='buttons'" class="buttonPositions" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary mr-3" (click)="openDialog(row, 'anzeigen')">anzeigen</button>
            <button type="button" class="btn btn-success mr-3 "
              (click)="openDialog(row, 'bearbeiten')">bearbeiten</button>
            <button type="button" class="btn btn-danger " (click)="elementEntfernen(row)">löschen</button>
          </div>
        </td>
      </div>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-toolbar class="toolbar">
    <button type="button" class="btn btn-warning mr-3"
      (click)="openDialogHinzufuegen('hinzufuegen')">Hinzüfügen</button>
    <button type="button" class="btn btn-success mr-3" (click)="exportAsXLSX()">Excelimport</button>
    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </mat-toolbar>
</div>