table {
    width: 100%;
  }

.buttonPositions{
  display: flex;
  width: 12rem;
  margin: 0;
  padding: 0;
}

.toolbar{
  height: 10%;
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

.ladebildschirm{
  margin-left: 31.25rem;
}
